.nav-dp{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
    cursor: pointer;
    margin-left: 35px;
    background: #fff;
}

@media (max-width: 768px){
    .nav-dp{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-size: cover;
        object-fit: cover;
        cursor: pointer;
        margin-left: 35px;
        background: #fff;
    }
}

@media (max-width: 768px){
    .nav-name{
        display: none;
    }
}


.nav-profile{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
    cursor: pointer;
    margin-left: 35px;
    background: #fff;
}

.settingsDpIcon{
    width: 25px;
    height: 23px;
    border-radius: 50%;
    background-color: #6e6e6e;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}

.settingsForm{
    display: flex;
    flex-direction: column;
}

.settingsForm > label{
    font-size: 20px;
    margin-top: 10px;
}

.settingsForm > input{
    color: gray;
    margin: 5px 0;
    height: 30px;
    border: none;
    border-bottom: 1px solid lightgray;
    
}

.settingsForm > input:focus{
    outline: none;
}

.updateSubmit{
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #0278b5;
    color: #fff;
}

.updateSubmit:disabled{
    cursor: not-allowed;
    background-color: rgb(211, 211, 211);
    color: rgb(134, 134, 134);
}

.profileUpdate{
    width: 300px;
    height: 50px;
    padding: 10px;
    background: rgb(207, 255, 207);
    border: 1px solid green;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){
    .profileUpdate{
        width: 100%;
        height: 50px;
        padding: 10px;
        background: rgb(207, 255, 207);
        border: 1px solid green;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
